Repository owntracks/android: changes, and which pre-commit hooks are due for each by the changed paths.
All: unit-test, ktfmt

unit-test:
  name: Run unit tests
  description: Runs unit-tests
  entry: ./project/gradlew -p project testGmsDebugUnitTest
  pass_filenames: false
  language: system

ktfmt:
  name: Ktfmt
  description: Formats kotlin files
  entry: ./project/gradlew -p project ktfmtFormat
  pass_filenames: false
  language: system

fix(logging): more useful logging, less noise at info
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/net/mqtt/AsyncPingSender.kt
  project/app/src/main/java/org/owntracks/android/net/mqtt/MQTTMessageProcessorEndpoint.kt
  project/app/src/main/java/org/owntracks/android/services/MessageProcessor.kt
Due: unit-test, ktfmt

feat: added 'request location' button to contact
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/ui/map/MapActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/map/MapViewModel.kt
  project/app/src/main/res/layout/ui_map.xml
  project/app/src/main/res/values/strings.xml
Due: unit-test, ktfmt

feat: allow the user to hint that low-accuracy locations should be dropped if there's a recent high-accuracy location
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
  project/app/src/main/java/org/owntracks/android/preferences/DefaultsProvider.kt
  project/app/src/main/java/org/owntracks/android/preferences/Preferences.kt
  project/app/src/main/java/org/owntracks/android/services/LocationProcessor.kt
Due: unit-test, ktfmt

initial fastlane structures from IzzyOnDroid
  fastlane/metadata/android/de/full_description.txt
  fastlane/metadata/android/de/short_description.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/01.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/02.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/03.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/04.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/05.jpg
  fastlane/metadata/android/en-US/short_description.txt
Due: none

Progress!
  project/app/src/main/java/org/owntracks/android/geocoding/DeviceGeocoder.kt
  project/app/src/main/java/org/owntracks/android/geocoding/GeocodeResult.kt
  project/app/src/main/java/org/owntracks/android/geocoding/GeocoderProvider.kt
  project/app/src/main/java/org/owntracks/android/geocoding/OpenCageGeocoder.kt
  project/app/src/main/java/org/owntracks/android/model/Parser.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageBase.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageConfiguration.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
Due: unit-test, ktfmt

Progress!
  project/app/src/main/java/org/owntracks/android/geocoding/DeviceGeocoder.kt
  project/app/src/main/java/org/owntracks/android/geocoding/GeocodeResult.kt
  project/app/src/main/java/org/owntracks/android/geocoding/GeocoderProvider.kt
  project/app/src/main/java/org/owntracks/android/geocoding/OpenCageGeocoder.kt
  project/app/src/main/java/org/owntracks/android/model/Parser.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageBase.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageConfiguration.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWaypoints.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWithCreatedAt.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWithId.kt
  project/app/src/main/java/org/owntracks/android/support/DeviceMetricsProvider.kt
  project/gradle/libs.versions.toml
Due: unit-test, ktfmt

initial
  .github/renovate.json5
  justfile
  project/app/build.gradle.kts
  project/app/proguard-rules.pro
  project/app/src/androidTest/kotlin/org/owntracks/android/ui/ConnectionErrorTest.kt
  project/app/src/androidTest/kotlin/org/owntracks/android/ui/LoadActivityTests.kt
  project/app/src/androidTest/kotlin/org/owntracks/android/ui/WaypointsActivityTests.kt
  project/app/src/main/java/org/owntracks/android/geocoding/OpenCageGeocoder.kt
  project/app/src/main/java/org/owntracks/android/model/BatteryStatus.kt
  project/app/src/main/java/org/owntracks/android/model/CommandAction.kt
  project/app/src/main/java/org/owntracks/android/model/Parser.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageBase.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageCard.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageCmd.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageConfiguration.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageEncrypted.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLwt.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageStatus.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageTransition.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWaypoint.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWaypoints.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWithCreatedAt.kt
  project/app/src/main/java/org/owntracks/android/model/messages/MessageWithId.kt
  project/app/src/main/java/org/owntracks/android/net/http/HttpMessageProcessorEndpoint.kt
  project/app/src/main/java/org/owntracks/android/net/mqtt/MQTTMessageProcessorEndpoint.kt
  project/app/src/main/java/org/owntracks/android/preferences/types/ConnectionMode.kt
  project/app/src/main/java/org/owntracks/android/preferences/types/MonitoringMode.kt
  project/app/src/main/java/org/owntracks/android/preferences/types/MqttProtocolLevel.kt
  project/app/src/main/java/org/owntracks/android/preferences/types/MqttQos.kt
  project/app/src/main/java/org/owntracks/android/preferences/types/StringMaxTwoAlphaNumericChars.kt
  project/app/src/main/res/xml/preferences_licenses.xml
  project/app/src/test/java/org/owntracks/android/model/ParserTest.kt
  project/app/src/test/java/org/owntracks/android/preferences/ImportExportTest.kt
  project/app/src/test/java/org/owntracks/android/ui/preferences/load/LoadViewModelTest.kt
  project/gradle/libs.versions.toml
Due: unit-test, ktfmt

fix: persistent notification now updates its 'when' time to be that of the last update
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/net/mqtt/MQTTMessageProcessorEndpoint.kt
  project/app/src/main/java/org/owntracks/android/services/OngoingNotification.kt
  project/app/src/oss/java/org/owntracks/android/location/AospLocationProviderClient.kt
Due: unit-test, ktfmt

feat: google api release helper build job + migrate to uv
  .github/google-play-api/google-play-api.py
  .github/google-play-api/pyproject.toml
  .github/google-play-api/requirements.txt
  .github/google-play-api/uv.lock
  .github/workflows/build-release-helper.yaml
  .github/workflows/release.yaml
Due: none

fix(gradle): take the name from the git describe command
  .github/workflows/build-test-lint.yaml
  .github/workflows/release.yaml
  .github/workflows/trunk-build.yaml
  project/app/build.gradle.kts
Due: unit-test, ktfmt

feat: set up for version 2.5.5
  CHANGELOG.md
  project/app/build.gradle.kts
Due: unit-test, ktfmt

fix: remove preferences migration method from tests
  project/app/src/androidTest/kotlin/org/owntracks/android/ui/TLSCertMigrationNotificationTests.kt
  project/app/src/main/java/org/owntracks/android/App.kt
Due: unit-test, ktfmt

feat: set latest-version for fdroid
  latest-version.yaml
Due: none

feat(ci): added run small espresso test workflow
  .github/workflows/espresso.yaml
  .github/workflows/pull-request-comment.yaml
  justfile
Due: none

fix: request location feature should send command message to the right topic
  CHANGELOG.md
  justfile
  project/app/src/main/java/org/owntracks/android/model/messages/MessageCmd.kt
  project/app/src/main/java/org/owntracks/android/ui/map/MapActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/map/MapViewModel.kt
  project/app/src/main/res/values/strings.xml
Due: unit-test, ktfmt

fix(ci): updated caching keys for AVD test
  .github/workflows/espresso.yaml
Due: none

fix(gradle): updated project build settings
  project/gradle.properties
Due: none

fix(ci): build artifact caching
  .github/workflows/build-test-lint.yaml
Due: none

migrated release jobs to use fastlane
  .github/workflows/build-test-lint.yaml
  .github/workflows/release.yaml
  .github/workflows/trunk-build.yaml
  fastlane/.ruby-version
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Gemfile
  fastlane/Gemfile.lock
  fastlane/README.md
  project/app/build.gradle.kts
  project/build.gradle.kts
  project/gradle/libs.versions.toml
Due: unit-test, ktfmt

replace triplet play folder with fastlane
  fastlane/Gemfile
  fastlane/Gemfile.lock
  fastlane/metadata/android/en-US/changelogs/420504022.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/01.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/02.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/03.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/04.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/05.jpg
  fastlane/metadata/android/en-US/images/phoneScreenshots/1_en-US.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2_en-US.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3_en-US.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4_en-US.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5_en-US.png
  fastlane/metadata/android/en-US/title.txt
  fastlane/metadata/android/en-US/video.txt
  project/app/src/main/play/contact-email.txt
  project/app/src/main/play/contact-website.txt
  project/app/src/main/play/default-language.txt
  project/app/src/main/play/listings/en-US/full-description.txt
  project/app/src/main/play/listings/en-US/graphics/feature-graphic/1.png
  project/app/src/main/play/listings/en-US/graphics/icon/1.png
  project/app/src/main/play/listings/en-US/short-description.txt
Due: none

fix: don't cancel all tasks on network lost as this prevents reconnects
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/net/mqtt/MQTTMessageProcessorEndpoint.kt
Due: unit-test, ktfmt

fix(aosp): handle case where supplied location from highPresicion update is null
  CHANGELOG.md
  project/app/src/oss/java/org/owntracks/android/location/AospLocationProviderClient.kt
Due: unit-test, ktfmt

fix(ci): remove specific ruby version from fastlane to defer to .ruby-version file
  .github/workflows/release.yaml
  .github/workflows/trunk-build.yaml
Due: none

fix(ci): no need to test/lint on main, this happens in merge groups
  .github/workflows/trunk-build.yaml
Due: none

fix(release): move fastlane into root so that it can access aab file
  .github/workflows/trunk-build.yaml
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

fix(ci): increment the version number before publishing to internal track
  .github/workflows/trunk-build.yaml
  .gitignore
Due: none

fix(ci): fastlane job wasn't outputting last version code
  .github/workflows/build-release-helper.yaml
  .github/workflows/trunk-build.yaml
  fastlane/Fastfile
  fastlane/metadata/android/de-DE/full_description.txt
  fastlane/metadata/android/de-DE/short_description.txt
  fastlane/metadata/android/de/full_description.txt
  fastlane/metadata/android/de/short_description.txt
Due: none

fix: reduce logging memory buffer down to 500
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/logging/LogEntry.kt
  project/app/src/main/java/org/owntracks/android/logging/TimberInMemoryLogTree.kt
Due: unit-test, ktfmt

fix: nav drawer doesn't try and draw under the top/bottom bars
  CHANGELOG.md
  project/app/src/main/java/org/owntracks/android/support/DrawerProvider.java
Due: unit-test

feat: use google design library for nav drawer
  project/app/build.gradle.kts
  project/app/src/main/java/org/owntracks/android/support/DrawerProvider.java
  project/app/src/main/java/org/owntracks/android/ui/DrawerProvider.kt
  project/app/src/main/java/org/owntracks/android/ui/contacts/ContactsActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/map/MapActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/preferences/PreferencesActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/status/StatusActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/waypoints/WaypointsActivity.kt
  project/app/src/main/res/layout/ui_contacts.xml
  project/app/src/main/res/layout/ui_map.xml
  project/app/src/main/res/layout/ui_preferences.xml
  project/app/src/main/res/layout/ui_status.xml
  project/app/src/main/res/layout/ui_waypoints.xml
  project/app/src/main/res/menu/activity_load.xml
  project/app/src/main/res/menu/drawer_navigation.xml
  project/app/src/main/res/values/strings.xml
  project/app/src/main/res/values/styles.xml
Due: unit-test, ktfmt

yay
  .beads/.gitignore
  .beads/issues.jsonl
  project/app/src/main/java/org/owntracks/android/ui/DrawerProvider.kt
  project/app/src/main/res/layout/ui_contacts.xml
  project/app/src/main/res/layout/ui_map.xml
  project/app/src/main/res/layout/ui_preferences.xml
  project/app/src/main/res/layout/ui_status.xml
  project/app/src/main/res/layout/ui_waypoints.xml
  project/app/src/main/res/values/styles.xml
Due: unit-test, ktfmt

everything edge-to-edge
  project/app/src/main/java/org/owntracks/android/ui/DrawerProvider.kt
  project/app/src/main/java/org/owntracks/android/ui/contacts/ContactsActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/map/MapActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/preferences/PreferencesActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/preferences/editor/EditorActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/preferences/load/LoadActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/status/StatusActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/status/logs/LogViewerActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/waypoint/WaypointActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/waypoints/WaypointsActivity.kt
  project/app/src/main/java/org/owntracks/android/ui/welcome/BaseWelcomeActivity.kt
  project/app/src/main/res/layout/appbar.xml
  project/app/src/main/res/layout/ui_contacts.xml
  project/app/src/main/res/layout/ui_map.xml
  project/app/src/main/res/layout/ui_preferences.xml
  project/app/src/main/res/layout/ui_status.xml
  project/app/src/main/res/layout/ui_waypoints.xml
Due: unit-test, ktfmt

Added an address field to the returned location packet. Contains the geocoded address, if available, or the lat/lon if not.
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
  project/app/src/main/java/org/owntracks/android/services/BackgroundService.kt
  project/app/src/main/java/org/owntracks/android/services/LocationProcessor.kt
Due: unit-test, ktfmt

Updated formatting.
  project/app/src/main/java/org/owntracks/android/model/messages/MessageLocation.kt
  project/app/src/main/java/org/owntracks/android/services/BackgroundService.kt
  project/app/src/main/java/org/owntracks/android/services/LocationProcessor.kt
Due: unit-test, ktfmt

feat(ci): migrate releases to using fastlane
  .github/google-play-api/google-play-api.py
  .github/google-play-api/pyproject.toml
  .github/google-play-api/uv.lock
  .github/renovate.json5
  .github/workflows/release.yaml
Due: none

Path conditions:
  unit-test: any of: \.(kt|kts)$, \.java$
  ktfmt: any of: \.(kt|kts)$
